body {
   color: black;
   font-size: 18px;
   font-style: italic;
   font-family: 'Times New Roman', Times, serif;
   text-align: center;
}
span, a {
    color: teal;
    font-weight: 800;
}
p {
    text-indent: 12px;
    text-align: left;
}
h2, h3 {
    color: darkslategrey;
    font-family: cursive;
}
.title-bold {
    color: black;
    font-family: serif;
}
/* .link {
    text-align: center;
} */