.container {
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid black;
    background: lightgrey;
}

.block-1 {
    width: 40%;
    height: 150px;
    background: lightblue;
    /* border: 1px solid rgb(255, 2, 2); */
    float: right;
}

.block-2 {
    width: 30%;
    height: 150px;
    background: lightcoral;
    /* border: 1px solid rgb(2, 253, 98); */
    float: right;
}

.block-3 {
    width: 30%;
    height: 150px;
    background: lightgreen;
    /* border: 1px solid rgb(27, 2, 248); */
    float: left;
}

.clear {
    clear: both;
}