* {
    margin: 0;
}
.text-color {
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.group-header-container {
    background-color: rgb(71, 71, 71);
    max-width: 1139px;
    margin: 0 auto;  
}
.groupe-logo-header{
    filter: drop-shadow(0 12px 10px rgba(0, 0, 0, .7));
    margin-bottom: 20px;
}
.groupe-title {
    font-family: fantasy;
    font-size: xx-large;
    margin-bottom: 30px;
}
.groupe-description {
    padding: 12px;
}
.groupe-foto {
    display: block;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 16px;
}
.article-text {
    margin-bottom: 16px;
}