.container {
    max-width: 600px;
    height: 600px;
    margin: 0 auto;
    border: 2px solid black;
    font-size: 40px;
    font-weight: 800;
    display: flex;
}

.item {
    width: 100px;
    height: 100px;
    margin: 10px;
    background: lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-1 {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.task-2 {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.task-3 {
    justify-content: space-between;
    align-items: center;
}

.task-4 {
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: row-reverse;
}

.task-5 {
    justify-content: space-between;
    flex-direction: row-reverse;
}
.task-5 .item-2 {
    order: 1;
}
.task-5 .item-3 {
    order: 3;
}

.task-6 {
    justify-content: space-between;
    /* flex-direction: row-reverse; */
}
.task-6 .item-1 {
    order: 1;
}
.task-6 .item-4 {
    order: 1;
}

.task-7 {
    justify-content: space-between;
    /* flex-direction: row-reverse; */
}
.task-7 .item-1 {
    order: 1;
}
.task-7 .item-3 {
    order: 1;
}