*{
    margin: 0;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 800;
}

.header {
    height: 100px;
    background: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    width: 100px;
    height: 100px;
    background: lightgoldenrodyellow;
}

.logo:hover {
    background: greenyellow;
}
.user{
    display: flex;
}

.login, 
.register {
    width: 100px;
    height: 50px;
    background: lightcyan;
    margin: 5px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
}

.nav {
    min-width: 200px;
    min-height: 400px;
    background: lightpink;
    font-size: 40px;
    margin: 5px;
    flex-direction: column;
}

.main {
    width: 824px;
    min-height: 400px;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main div {
    width: 190px;
    height: 200px;
    background: lightgreen;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main div:first-child {
    background: lightgray;
}

.main div:last-child {
    color: blue;
}

.footer {
    height: 100px;
    background: lightseagreen;
    font-size: 20px;
}

.footer p::first-line {
    color: aliceblue;
}

.footer p::before {
    content: "**";
}

.footer p::after {
    content: "**";
}